* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #1c1c1c, #3a3a3a);
    color: #fff;
}

header {
    background-color: #282828;
    padding: 20px;
    text-align: center;
}

#logo {
    font-size: 2.5em;
    color: #ff4757;
}

#des-web {
    font-size: 1.2em;
    margin: 10px 0;
}

#search {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#search-bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

#search-btn {
    background-color: #ff4757;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.genre-section {
    padding: 20px;
}

.title-section {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ff4757;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genre-item {
    background: #444;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}

.genre-item:hover {
    transform: scale(1.05);
}

.genre-image {
    width: 100%;
    border-radius: 10px;
}

.genre-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ff4757;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.genre-link:hover {
    background-color: #e84118;
}

.populer-rekomend {
    border: 1px solid black;
    margin-top: 30px;
    padding: 1em 10em 1em 10em;
}

.list-lagu {
    width: 50em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 15px auto;
}

.gambar-lagu {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
}

audio {
    margin-left: auto;
    width: 30em;
    height: 40px;
    border-radius: 50em;
  }
  
  audio::-webkit-media-controls-panel {
    background-color: #FF4757;
    color: #fff;
  }
  
  audio::-webkit-media-controls-play-button {
  border-radius: 50em;
  }
  
  audio::-webkit-media-controls-pause-button {
    background-color: #fff;
  }

footer {
    background-color: #282828;
    text-align: center;
    padding: 20px;
    position: relative;
}

.socials a {
    color: #ff4757;
    margin: 0 10px;
    text-decoration: none;
}

.credit {
    margin-top: 10px;
    color: #bbb;
}
