/* styling tampilan awal  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* stylind body  */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #1c1c1c, #3a3a3a);
    color: #fff;
}

/* start styling nav bar menu kanan  */
#right-menu {
    display: none;
    position: fixed;
    background-color: #fff;
    width: 20em;
    height: 100vh;
    right: 0;
}

nav {
    margin-top: 5em;
}

.links h2 {
    margin-top: 1em;
    padding-left: 1em;
    color: #282828;
}

#log-out {
    color: red;
}

/* end styling nav bar menu kanan  */

/* start styling bagian navbar menu  */
#nav-bar {
    display: block;
    position: absolute;
    background-color: #ff4757;
    border-radius: .5em;
    right: 2em;
    top: 2em;
    color: #282828;
}

#nav-bar:hover {
    background-color: blue;
    color: #fff;
}

/* end styling bagian navbar menu  */

/* start styling header  */
header {
    background-color: #282828;
    padding: 20px;
    text-align: center;
}

/* styling logo  */
#logo {
    position: absolute;
    display: block;
    width: 100px;
    color: #ff4757;
    left: 10em;
}

/* styling container search  */
#search-container {
    display: flex;
    margin: 1em auto;
}

/* styling Text "Explore Your Favorite Artist" */
.des-web {
    font-size: 1.2em;
    margin: 10px 0;
}

/* styling div search  */
#search {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
}

/* styling div search lagu  */
#lagu {
    margin-left: 1em;
}

/* styling search bar  */
.search-bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

/* styling search button  */
.search-btn {
    background-color: #ff4757;
    color: #282828;
    border: none;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
}

/* styling icon search  */
.icons {
    margin: -.2em;
}

/* end styling header  */

/* start rekomendasi lagu  */
.recommend {
    margin-top: 30px;
}

/* styling judul */
.title-section {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ff4757;
}

/* styling container rekomendasi lagu */
#container {
    margin: 1em auto;
    width: 104em;
    height: 20em;
    display: grid;
    grid-template-columns: 20em 20em 20em 20em 20em;
    grid-template-rows: 20em 20em 20em 20em 20em;
    grid-gap: 1em;
}

/* styling div item item  */
.item {
    border: 1px solid black;
    border-radius: 2em;
}

/* styling gambar  */
.gambar-lagu {
    display: block;
    border-radius: 100%;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 1em auto;
}

/* styling judul lagu  */
.judul-lagu {
    font-size: 1.5em;
    text-align: center;
}

/* styling button listen  */
.listen {
    display: block;
    border: 1px solid white;
    font-size: 2em;
    margin: .5em auto;
    background-color: orange;
    color: black;
    width: 4em;
    border-radius: 1em;
    box-shadow: 5px 5px;
}

/* styling button listen ketika cursor diatas elemen */
.listen:hover {
    background-color: blue;
    color: white;
}

/* end rekomendasi lagu  */

/* start bagian populer artist dan populer lagu  */
#populer-artist-lagu {
    margin-top: 30px;
}

/* styling judul  */
.title-section2 {
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ff4757;
}

/* styling div artist-lagu  */
#artist-lagu {
    display: flex;
    justify-content: space-between;
}

/* styling container artist  */
#container-artist {
    margin-left: 5em;
    width: 45%;
    border-top: 1px solid black;

}

/* styling container lagu  */
#container-lagu {
    margin-right: 5em;
    width: 45%;
    border-top: 1px solid black;
}

/* styling elemen h3  */
h3 {
    text-align: center;
    margin-top: .5em;
    font-size: 2em;
    color: #ff4757;
}

/* styling div items  */
.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* styling div populer artist dan populer lagu  */
.populer-artist, .populer-lagu {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1em;
    border-radius: 2em;
    padding: 1em;
}

/* styling text number  */
.number {
    width: 1em;
    font-size: 1.3em;
    position: absolute;
    margin-top: .5em;
    margin-left: .5em;
}

/* styling gambar artist dan lagu  */
.gambar-artist, .gambar-lagu-container {
    border: 1px solid black;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: 3em;

}

/* styling nama artist dan lagu  */
.nama-artist, .nama-lagu-container {
    font-size: 1.3em;
    margin-left: 1em;
    margin-top: 1em;
}

/* styling button see more  */
.see-more {
    border: 1px solid #fff;
    position: absolute;
    width: 7em;
    height: 3em;
    font-size: 1.1em;
    border-radius: 2em;
    margin: 5em 1em 1em 12em;
    background-color: orange;
    box-shadow: 5px 5px;
}

/* stylinf button ketika cursor diatas elemen  */
.see-more:hover {
    background-color: blue;
    color: #FFF;
}
/* end bagian populer artist dan populer lagu  */

/* start bagian footer  */
footer {
    background-color: #282828;
    text-align: center;
    padding: 20px;
    position: relative;
}

/* syling link social media  */
.socials a {
    color: #ff4757;
    margin: 0 10px;
    text-decoration: none;
}

/* styling link social media ketika cursor diatas elemen  */
.socials a:hover {
    color: blue;
}

/* styling bagian credit  */
.credit {
    margin-top: 10px;
    color: #bbb;
}
/* end bagian footer  */

/* styling list history  */
#user-list {
    color: #fff;
    font-size: 1.2em;
    margin: 10px 0;
}