* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #1c1c1c, #3a3a3a);
    color: #fff;
}

header {
    background-color: #282828;
    padding: 20px;
    text-align: center;
}

#logo {
    font-size: 2.5em;
    color: #ff4757;
}

#search-container{
    display: flex;
}

.des-web {
    font-size: 1.2em;
    margin: 10px 0;
}

#search-artist, #search-album {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em auto;

}

.search-bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.search-btn {
    background-color: #ff4757;
    color: #282828;
    border: none;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
}

.icons{
    margin: -.2em;
}

.recommend {
    margin-top: 30px;
}

.title-section {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ff4757;
}


#container{
    margin: 1em auto;
    width: 104em;
    height: 20em;
    display: grid;
    grid-template-columns: 20em 20em 20em 20em 20em;
    grid-template-rows: 20em 20em 20em 20em 20em;
    grid-gap: 1em;
}

.item{
    border: 1px solid black;
    border-radius: 2em;
}

.gambar-lagu{
    display: block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 1em auto;
}

.judul-lagu{
    font-size: 1.5em;
    text-align: center;
}

.listen{
    display: block;
    border: 1px solid white ;
    font-size: 2em;
    margin: .5em auto;
    background-color: orange;
    color: black;
    width: 4em;
    border-radius: 1em;
    box-shadow: 5px 5px;
}

.listen:hover{
    background-color: blue;
    color: white;
}

#populer-artist-album{
    margin-top: 30px;
}

.title-section2{
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ff4757;
}
#artist-album{
    display: flex;
    justify-content: space-between;
}

#container-artist{
    margin-left: 5em;
    width: 45%;
    border-top: 1px solid black;
    
}

#container-album{
    margin-right: 5em;
    width: 45%;
    border-top: 1px solid black;
}

h3{
    text-align: center;
    margin-top: .5em;
    font-size: 2em;
    color: #ff4757;
}

.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.populer-artist, .populer-album{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1em;
    border-radius: 2em;
}

.number{
    width: 1em;
    font-size: 1.3em;
    position: absolute;
    margin-top: .5em;
    margin-left: .5em;
}

.gambar-artist, .gambar-album{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-left: 3em;

}

.nama-artist, .nama-album{
    font-size: 1.3em;
    margin-left:1em ;
    margin-top: 1em;
}
.see-more{
    border: 1px solid #fff;
    position: absolute;
    width: 7em;
    height: 3em;
    font-size: 1.1em;
    border-radius: 2em;
    margin: 5em 1em 1em 12em;
    background-color: orange;
    box-shadow: 5px 5px;
}

.see-more:hover{
    background-color: blue;
    color: #FFF;
}
footer {
    background-color: #282828;
    text-align: center;
    padding: 20px;
    position: relative;
}


.socials a {
    color: #ff4757;
    margin: 0 10px;
    text-decoration: none;
}

.socials a:hover{
    color: blue;
}

.credit {
    margin-top: 10px;
    color: #bbb;
}