body {
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
    margin: 10em auto;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 30px;
    color: #f0ad4e; /* Warning/playful color */
  }

  p {
    font-size: 20px;
  }

  .emoji {
    font-size: 40px;
  }