/* pengaplikasian style awal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* styling bagian body  */
body{
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #1c1c1c, #3a3a3a);
}

/* start styling navbar menu kanan  */
#right-menu{
  display: none;
  position: fixed;
  background-color: #fff;
  width: 20em;
  height: 100vh;
  right: 0;
  top: 0;
}

nav{
  margin-top: 5em ;
}

.links h2{
  margin-top: 1em;
  text-align: left;
  padding-left: 1em;
  color:#282828;
}

#log-out{
  color:red;
}
/* end styling navbar menu kanan  */

/* styling navbar menu  */
#nav-bar{
  display: block;
  position: absolute;
  background-color: #ff4757;
  border-radius: .5em;
  right: 2em;
  top: 2em;
  color: #282828;
}

/* styling nav bar menu ketika cursor diatas elemen  */
#nav-bar:hover{
  background-color: blue;
  color: #fff;
}

/* start styling header  */
header{
  background-color: #282828;
  padding: 20px;
  text-align: center;
}

/* styling logo  */
#logo {
  position: absolute;
  display: block;
  width: 100px;
  color: #ff4757;
  left: 10em;
}

/* styling container search  */
#search-container{
  display: flex;
  margin: 1em auto;
}

styling judul container search
.des-web{
  font-size: 1.2em;
  margin: 10px 0;
}

/* styling div search  */
#search{
  display: flex;
  flex-direction: row;
  margin: 1em auto;
}

/* styling div lagu  */
#lagu{
  margin-left: 1em;
}

/* styling search bar  */
.search-bar {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

/* styling search button */
#search-btn-container{
  background-color: #ff4757;
  color: #282828;
  border: none;
  padding: .5em;
  border-radius: 5px;
  cursor: pointer;
  margin-left: .5em;
}

/* styling search button  */
#search-btn{
  margin: -.2em;
}
/* end styling header  */

/* start styling main  */

/* styling section awal */
#awal{
  width: 104em;
  display: block;
  border: 1px solid black;
  margin: 1em auto;
}

/* styling container artist dan lagu  */
.artist, .lagu{
  width: 101em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

/* styling div perkenalan  untuk menampilkan pada saat tidak ada pencarian  */
.perkenalan{
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;

}

/* styling gambar artist  */
.gambar-artist{
  margin-left: 1em;
  margin-bottom: 1em;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 100%;

}

/* styling nama artist  */
.artist-name{
  margin: auto 0em;
  width: 10em;
  height: 2em;
  text-align: center;
}

/* styling nama artist saat di hover dan ketika diklik maka akan pindah ke modal artist */
.artist-name:hover{
  color: blue;
}

/* styling section akhir  */
#akhir{
  display: none;
}

/* styling div result  */
#result{
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin: 1em auto;
  width: 104em;
}

h1, h2{
  text-align: center;
  color: #ff4757;
}

h2{
  margin-top: 1em ;
  color: #fff;;
}

/* styling container  */
.container{
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em;
}

/* styling item hasil pencarian  */
.item{
  border: 1px solid black;
  border-radius: 2em;
  margin: 1em auto;
}

/* styling gambar lagu  */
.gambar-lagu{
  width: 18em;
  height: 16em;
  border-radius: 2em;
  display: block;
  margin: 0em auto;
}

/* styling nama lagu  */
.nama-lagu{
  color:#fff;
  font-size: 1.2em;
  text-align: center;
}

/* styling button listen  */
.listen{
  display: block;
  border: 1px solid white ;
  font-size: 2em;
  margin: .5em auto;
  background-color: orange;
  color: black;
  width: 4em;
  border-radius: 1em;
  box-shadow: 5px 5px;
}

styling button listen ketika cursor diatas elemen
.listen:hover{
  background-color: blue;
  color: white;
}
/* end styling main  */


/* start styling modal  */
#modal-artist {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* styling div modal artist dan icon "X"  */
#modal-artist .close-btn-modal {
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: white;
}

/* styling div biodata  */
#bio-data {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* styling gambar modal  */
#gambar-modal {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* styling section bio  */
#section-bio {
  padding: 20px;
}

/* styling nama modal  */
#nama-modal {
  font-size: 2em;
  margin-bottom: 10px;
}

/* styling div description  */
#description {
  margin-bottom: 20px;
}

/* styling div ganti bahasa */
#ganti-bahasa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
}

/* styling select bahasa  */
#bahasa {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* styling description text  */
#description-text {
  line-height: 1.6;
}

/* styling tanggal lahir, list lagu dan social media  */
#tanggal_lahir, #list-lagu, .social-media {
  margin-bottom: 15px;
}

/* styling lagu lagu  */
.lagu {
  margin-left: 20px; /* Indent the song names */
}

/* styling social media link  */
.social-media a {
  color: blue;
  text-decoration: none;
}

/* styling social media ketiak cursor diatas elemen  */
.social-media a:hover {
  text-decoration: underline;
}
/* end styling modal  */

/* styling list history search  */
#user-list {
  color:#fff;
  font-size: 1.2em;
  margin: 10px 0;
}

/* styling nama artist  */
.artist-header{
  color:#fff
}

/* styling button follow untuk pencarian artist saja */
.followBtn-artist{
  width: 3em;  
  height: 3em; 
  cursor: pointer; 
  border: 2px solid black; 
  background: white; 
  padding: 5px; 
  border-radius: 50%; 
  margin: auto 1em;
  margin-bottom: 3em;
  transition: transform 1s ease-in-out; 
}

/* styling button follow untuk pencarian artist saja ketika cursor berada diatas elemen  */
.followBtn-artist:hover{
  transform: scale(1.1);
  background-color: blue;
  border: 2px solid white; 
}

/* styling button follow untuk pencarian lagu */
.folllowBtn { 
  position: absolute;
  width: 3em;  
  height: 3em; 
  cursor: pointer; 
  border: 2px solid black; 
  background: white; 
  padding: 5px; 
  border-radius: 50%; 
  transition: transform 1s ease-in-out; 
  right: 51%;
  left: 49%;
  margin-top: 3.7em;
}

/* styling button follow untuk pencarian lagu ketika cursor diatas elemen  */
.folllowBtn:hover {
  transform: scale(1.1);
  background-color: blue;
  border: 2px solid white; /* Scale slightly on hover for visual feedback */
}

/* media queries */
@media screen and (max-width: 600px) {
  #bio-data {
    width: 90%;
  }

  #gambar-modal {
    height: 200px;
  }
}
